<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      function validateForm() {
        const email = document.forms["loginForm"]["email"].value;
        const password = document.forms["loginForm"]["password"].value;
        if (email == "" || password == "") {
          alert("All fields must be filled.");
          return false;
        }
      }
    </script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>New URL - TinyApp Example</title>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main style="margin: 1em;">
      <h3>Welcome to TinyApp!</h3>
      <div class="pt-3">
        <p>TinyApp is a URL shortening service that creates short aliases for long URLs. These aliases can be edited or deleted at any time. <br> If you are a returning user, please login below. If you are a new user, please <a href="/register">register</a> first.</p>
      </div>

      <h3>Login</h3>
      <form name="loginForm" method="POST" action="/login" onsubmit="return validateForm()">
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email:</label>
          <input class="form-control" type="email" name="email" style="width: 300px">
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Password:</label>
          <input class="form-control" type="password" name="password" style="width: 300px">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </main>
      <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>